@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

 body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   background-color: #f7f9fc;
   height: 100vh;
   overflow: hidden;
 }
 
 .App {
   display: flex;
   height: 100vh;
   width: 100vw;
   overflow: hidden;
 }
 
 .Sidebar {
   width: 250px;
   background-color: #2c4f50;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   color: #ecf0f1;
   height: calc(100vh - 40px);
   margin: 20px;
   overflow-y: auto;
 }
 .ml-10 {
  margin-bottom: 40px; 
}
 
 .Profile {
   text-align: center;
   margin-bottom: 20px;
   align-items: center;
 }
 
 .Profile .UserName {
   margin: 10px 0 5px;
 }
 
 .Profile .UserEmail {
   margin: 0;
   font-size: 14px;
 }
 
 .Menu {
   width: 100%;
 }
 
 .MenuItem {
   display: flex;
   align-items: center;
   padding: 10px 15px;
   cursor: pointer;
   transition: background-color 0.2s;
   border-radius: 5px;
 }
 
 .MenuItem:hover {
   background-color: #23a2a7;
 }
 
 .MenuItem .Icon {
   margin-right: 10px;
 }
 
 .MainContent {
   flex: 1;
   display: flex;
   flex-direction: column;
   padding: 20px;
   margin: 20px;
   background-color: #f7f9fc;
   border-radius: 10px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   overflow-y: auto;
 }
 
 .Header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   background-color: #ecf0f1;
   border-radius: 10px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   margin-bottom: 20px;
 }
 
 .SearchBar {
   padding: 10px;
   width: 300px;
   border: none;
   border-radius: 5px;
 }
 
 .NotificationIcon {
   font-size: 24px;
   cursor: pointer;
 }
 
 .ContentWrapper {
   padding: 20px;
   flex: 1;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 }
 
 .UserProfileContent {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .ProfilePhoto {
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
  
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  display: block; 
  margin: 0 auto; 
}

 .UserDetails {
   text-align: center;
   align-items: center;
   width: 100%;
 }
 
 .UserDetails table {
   margin: 0 auto;
   border-collapse: collapse;
   width: 90%; 
   max-width: 100%; 
  
   font-size: 15px;
 }
 
 .UserDetails td {
   padding: 15px;
   border: 1px solid #ddd;
 }
 
 .EditProfileButton {
   padding: 10px 20px;
   background-color: #3498db;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-top: 10px;
 }
 
 .EditProfileForm {
   background: white;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 2px 4px rgba(135, 171, 237, 0.1);
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 500px;
   margin:0 auto;
 }
 .PopupMessage {
  position: fixed;
  top: 50px;
  right: 50px;
  background-color: #4caf50;
  color: white;
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

 
 .EditProfileForm h2 {
   margin-bottom: 20px;
   font-size: 24px;
   font-weight: bold;
 }
 .EditProfileForm h2, .UserProfileContent h2 {
  font-size: 24px; 
  font-weight: bold; 
  margin-bottom: 20px; 
}
 
 .FormRow {
   display: flex;
   align-items: center;
   margin-bottom: 15px;
   width: 100%;
 }
 
 .FormRow label {
   flex: 1;
 }
 
 .FormRow input {
   flex: 2;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
 }
 
 .FormButtons {
   display: flex;
   justify-content: flex-end;
   width: 100%;
 }
 
 .FormButtons button {
   padding: 10px 20px;
   margin-left: 10px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }
 
 .FormButtons button:first-child {
   background-color: #5991db;
   color: white;
 }
 
 .FormButtons button:last-child {
   background-color: #e07f74;
   color: white;
 }
 
 table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
 }
 
 table, th, td {
   border: 1px solid #ddd;
 }
 
 th, td {
   padding: 10px;
   text-align: left;
 }
 
 th {
   background-color: #f2f2f2;
 }
 
 .Placeholder {
   text-align: center;
   padding: 20px;
   color: #7f8c8d;
 }
 .ChatsContent {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.ChatColumn {
  width: 48%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.ChatColumn h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.ChatList {
  max-height: 600px;
  overflow-y: auto;
}

.ChatItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.ChatItem:last-child {
  border-bottom: none;
}

.ChatProfilePhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.ChatDetails {
  display: flex;
  flex-direction: column;
}

.ChatName {
  font-weight: bold;
}

.ChatMessage {
  color: #555;
}
.form {
  display: flex;
  border: 2px solid #D3D3D3;

}

.input {
  border: none;
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
  padding: 5%;
  width: 100%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  padding: 20px;
  display: inline-block;
  border: black;

  width: 40%;
}

 